/*
*
* Global 
*
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif, Helvetica;
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

.hero-image {
    width: 100%;
    height: 100%;
}

.container {
    width: 80vw;
    margin: auto;
}

.padding-top-bottom {
    padding-top: 80px;
    padding-bottom: 80px;
}


/*
*
* header 
*
*/

.header {
    z-index: 1;
    width: 100%;
    height: 80px;
    z-index: 10;
    position: absolute;
}

.nav-colored {
    background-color: #333333;
}

.nav-transparent {
    background-color: transparent;
}

.header .navbar {
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    /* background-color: #5D5252; */
    /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175); */
    z-index: 10;
    position: fixed;
}

.header .navbar .logo-container {
    width: 40%;
    float: left;
    height: inherit;
}

.header .navbar .logo-container .logo-holder {
    align-items: center;
    height: inherit;
    display: flex;
    margin-left: 10%;
}

.header .navbar .logo-container .logo-holder h2 {
    color: whitesmoke;
}

.header .navbar .list-container ul li a {
    color: whitesmoke;
    opacity: .7;
}

.header .navbar .list-container {
    width: 60%;
    display: block;
    float: left;
    height: inherit;
}

.header .navbar .list-container .navbar-list {
    height: inherit;
    display: flex;
    float: right;
    margin-right: 10%;
    align-items: center;
}

.header .navbar .list-container ul {
    list-style: none;
    padding: 10px 0;
}

.header .navbar .list-container ul li a {
    padding: 20px;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
}

.header .navbar .list-container ul li a:hover {
    opacity: 1;
}

#check {
    display: none;
}

.bar-icon-label {
    font-size: 30px;
    color: whitesmoke;
    padding: 15px;
    cursor: pointer;
}


/*
*
* hero section 
*
*/

.hero-section .hero-image-holder {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/joao-tzanno-_KO9Bs7ESxM-unsplash.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-section .hero-text-container {
    height: 100%;
    display: flex;
}

.hero-section .hero-text-container .text-holder {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.hero-section .text-holder h1 {
    opacity: .7;
    letter-spacing: 3px;
    color: white;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero-section .text-holder p {
    padding-bottom: 20px;
    opacity: .7;
    color: white;
}

.hero-section .text-holder a {
    display: block;
    width: 15rem;
    padding: .5em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 0.5);
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.5em;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

.hero-section .text-holder a:hover {
    opacity: 1;
    background-color: rgba(169, 169, 169, 0.234);
    color: white;
    border: 3px solid rgba(255, 255, 255, 1);
}


/*
*
* about us section 
*
*/

.about-text {
    text-align: center;
}

.about-h2 {
    line-height: 2;
    text-transform: capitalize;
    padding-top: 30px;
    color: rgba(0, 0, 0, 0.582);
    color: #888888;
}

.about-p {
    padding: 30px 0;
    /* text-align: left; */
    line-height: 2;
    /* color: #112940; */
    color: #888888;
}

.outer-holder {
    padding-top: 40px;
}

.about-card {
    border-radius: 8px;
    border-top: 3px solid #428DD9;
    box-shadow: 0px 5px 10px 0px rgba(214, 214, 214, 1);
    padding: 20px;
}

.about-us .about-card-holder .card-image {
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    border-bottom: 2px solid #428DD9;
    padding-bottom: 10px;
}

.about-card-text h3 {
    text-align: center;
    padding-top: 30px;
    color: #112940;
}

.about-card-text p {
    text-align: center;
}


/*
*
* destination section 
*
*/

.destination {
    background-color: #cccccc3a;
}

.destination-cards-container {
    padding: 60px 0;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax( 22rem, 1fr));
}

.destination-card-holder {
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.4);
}

.card-image-holder {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    width: auto;
    height: 280px;
}

.card-image-holder img {
    transition: all 0.6s ease-in-out;
}

.card-image-holder img:hover {
    transform: scale(1.3);
}

.card-text,
.card-rate-container {
    padding: 15px;
}

.card-rate-container {
    padding: 15px 15px 30px 15px;
}

.card-text h3 {
    padding-top: 10px;
}

.card-rate-container .rate ul {
    list-style: none;
    color: gold;
    display: inline-flex;
}

.card-reviews {
    display: inline;
    padding-left: 10px;
}

.card-reviews:hover {
    color: #428DD9;
    text-decoration: underline;
    cursor: pointer;
}

.destination .destination-text {
    text-align: center;
    padding-bottom: 40px;
}

.rate {
    display: inline-block;
    color: rgba(0, 0, 0, 0.582);
}

.duration {
    float: right;
    display: block;
    color: rgba(0, 0, 0, 0.582);
    opacity: .7;
}

.duration-time {
    display: inline;
}


/*
*
*   ============================  testimonial section   ============================
* 
*/

.testimonials {
    padding: 20px 0;
}

.testimonials:hover {
    background-color: #88888878;
}

.testimonials:hover q {
    opacity: 1;
}

.testimonial-title-holder {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
}

.testimonial-title h2 {
    text-align: center;
    opacity: .8;
    color: whitesmoke;
}

.testimonials-holder {
    padding: 40px 0;
}

.testimonials p {
    line-height: 1.5;
    text-align: center;
    opacity: .8;
    color: whitesmoke;
}

.testimonials q {
    opacity: .8;
    color: whitesmoke;
    font-size: 16px;
}

.testimonials h3,
.testimonials h5 {
    padding-top: 0;
    text-align: center;
    opacity: .8;
    color: whitesmoke;
}

.testimonials h3 {
    padding-top: 10px;
}

.testimonials h5 {
    padding-bottom: 15px;
}

.testimonials-image {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.testimonials-image img {
    min-width: 100%;
    min-height: 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    background-size: cover;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*
*
*   ============================  destination-recent places section   ============================
* 
*/

.destination-images-container {
    padding: 60px 0;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax( 22rem, 1fr));
    grid-auto-flow: row;
}

.destination-image-holder {
    overflow: hidden;
    box-shadow: 2px 10px 10px rgba(68, 68, 68, 0.8);
}

.background-holder {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 100%;
    z-index: 1;
}

.destination-image-holder img {
    transition: all 0.6s ease-in-out;
    display: block;
    position: relative;
    z-index: 0;
}

.destination-image-holder img:hover {
    transform: scale(1.3);
    z-index: -1;
}

.seventeen-percent {
    grid-column: span 2;
    height: 500px;
}

.destination-image-holder {
    width: 100%;
    /* height: 300px; */
    position: relative;
    display: flex;
}

.destination-image-holder:hover .hero-image-text {
    transition: all 0.4s ease-in-out;
    bottom: 0;
}

.hero-image-text {
    transition: all 0.6s ease-in-out;
    height: 80px;
    bottom: -50%;
    position: absolute;
    display: block;
    width: 100%;
    z-index: 3;
}

.place-name-text {
    background-color: #4444449d;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    height: inherit;
    padding-left: 20px;
}

.place-name-text h3 {
    position: absolute;
    color: white;
    opacity: .7;
}


/*
*
*   ============================  price section   ============================
* 
*/

.price-card-container {
    display: grid;
    grid-gap: 3rem;
    padding-top: 60px;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.price-card {
    background-color: white;
    /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175); */
    box-shadow: 2px 2px 10px rgba(0, 0, 20, 0.2);
}

.curved {
    position: relative;
    /* background: #2c3e50; */
    background: #035aa6;
    /* height: 50vh; */
    border-bottom-left-radius: 80% 100%;
    /* border-bottom-left-radius: 89% 82%; */
    /* border-bottom-right-radius: 50% 42%; */
}

.price-head-price,
.price-head-title {
    /* background-color: #0B61DF; */
    background-color: #035aa6;
}

.card-white-color {
    color: #FFFEFD;
}

.price-head-price,
.price-head-title {
    text-align: center;
}

.price-head-title h2 {
    padding: 5px;
}

.price-head-price .price {
    display: inline-block;
    font-size: 36px;
}

.price-head-price span {
    font-size: 22px;
    font-weight: bold;
}

.price-detail {
    text-align: left;
    margin: 30px;
}

.price-detail p {
    padding: 5px;
    display: inline;
}

.sign-up {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    display: inline-flex;
    width: 100%;
}

.custom-button {
    font-size: 18px;
    padding: 10px;
    margin: 0 auto;
    font-weight: bold;
    width: 150px;
    color: #035aa6;
    border: 1px solid #035aa6;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease;
}

.custom-button:hover {
    background-color: #035aa6;
    color: white;
}


/*
*
*   ============================  subscribe section   ============================
* 
*/

.subscribe .hero-image-subscribe .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subscribe .hero-image-subscribe {
    height: 450px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
}

.subscribe-data {
    margin: 0 auto;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.subscribe-data a {
    background-color: #035aa6;
    color: white;
    opacity: 1;
    /* height: 30px; */
    margin-left: 10px;
    padding: 12px 30px;
    width: 150px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}


/*
*
*   ============================  contact section   ============================
* 
*/

#contact {
    background-color: #cccccc3a;
}

.contact-form-holder,
.information-holder {
    float: left;
    width: 50%;
}

.contact-title h2,
.contact-info h2 {
    text-align: center;
    padding-bottom: 30px;
}


/* change it using media query */

.contact-title,
.information-title {
    text-align: center;
}

.contact-text h2 {
    padding-bottom: 30px;
}

.contact-holder {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}


/* Style inputs with type="text", and textarea */

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 11.5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


/* Style the submit button with a specific background color etc */

input[type="submit"] {
    background-color: #035aa6;
    color: white;
    padding: 12px 20px;
    border: none;
    width: 150px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */

input[type="submit"]:hover {
    opacity: .6;
}


/* Add a background color and some padding around the form */

.contact-form {
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 20, 0.2);
    box-shadow: 2px 2px 10px rgba(0, 0, 20, 0.2);
    padding: 20px;
}

.contact-form label {
    color: rgba(0, 0, 0, 0.582);
}

.hidden {
    display: none;
}

.information-list ul {
    list-style: none;
    display: block;
    color: rgba(0, 0, 0, 0.582);
    opacity: .7;
}

.information-list ul li {
    padding: 0 20px 40px 20px;
}

.information-list ul li span {
    padding: 0 20px;
    display: inline-flex;
    color: #428DD9;
    opacity: .8;
    width: 90%;
}

.information-list ul li span:hover {
    opacity: 1;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}


/*
*
*   ============================  footer section   ============================
* 
*/

.copy {
    display: inline-block;
    width: 100%;
}

.copyright {
    padding: 20px;
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    color: #333333;
    padding-top: 40px;
}

.footer-icons {
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer-icons .footer-icons-link {
    color: #333333;
    margin: 0;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: #ffffff;
}

.footer-icons .icon-holder {
    display: flex;
    margin: auto 10px;
    align-items: center;
    justify-content: center;
}

.footer-icons .icon-holder:hover {
    opacity: .5;
}

.footer-about-us {
    width: 60%;
}

.footer-about-us p {
    line-height: 1.5;
    padding: 20px 20px 40px 0;
}

.follow-us h2 {
    line-height: 2;
}


/*
*
*   ============================  media query   ============================
* 
*/

@media only screen and (max-width: 450px) {
    .copyright {
        font-size: .9rem;
    }
    .subscribe-data-container .subscribe-data input {
        margin-bottom: 20px;
    }
    .subscribe-data {
        display: block;
    }
    .subscribe-data a {
        margin-left: 0;
    }
    .subscribe-data input[type="email"] {
        margin-bottom: 40px;
    }
}


/*
*
*   Extra small devices (phones, 600px and down)
* 
*/

@media only screen and (max-width: 600px) {
    .hero-section .text-holder h1 {
        font-size: 1.6rem;
    }
    .header .navbar .logo-container {
        width: 70%;
    }
    .bar-container {
        display: flex;
        height: inherit;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
    }
    .header .navbar .list-container .navbar-list {
        height: auto;
        visibility: hidden;
        width: 100%;
        display: block;
        position: fixed;
        left: 0;
        top: 80px;
    }
    .responsive .navbar-ul {
        display: block;
        visibility: visible;
        top: 80px;
        height: auto;
        left: 0;
        box-shadow: 2px 25px 50px rgba(68, 68, 68, 0.8);
        /* background-color: #5D5252; */
        background-color: #333333;
    }
    .header .navbar .list-container ul {
        padding: 0;
    }
    .header .navbar .list-container ul li {
        display: block;
        padding: 0;
    }
    .header .navbar .list-container ul li a:hover {
        color: white;
        text-decoration: underline;
        background-color: rgba(169, 169, 169, 0.234);
    }
    .header .navbar .list-container {
        width: 0;
    }
    .header .navbar .list-container ul li a {
        text-align: center;
        display: block;
    }
    .about-us .container {
        width: 100%;
        padding: 20px;
    }
    .outer-holder {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
    .destination .container {
        width: 100vw;
    }
    .destination-card-holder {
        grid-template-columns: repeat(auto-fill, minmax( 15rem, 1fr));
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .destination-images-container {
        grid-template-columns: repeat(auto-fill, minmax( 15rem, 1fr));
    }
    .seventeen-percent {
        grid-column: unset;
    }
    .destination-image-holder {
        height: 300px;
    }
    .card-image-holder {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .contact-form-holder,
    .information-holder {
        float: unset;
        width: 100%;
    }
    .destination-cards-container {
        padding: 60px 0;
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(auto-fill, minmax( 15rem, 1fr));
    }
    .contact-title h2,
    .contact-info h2 {
        text-align: left;
        padding-bottom: 30px;
    }
    .information-list ul li {
        padding: 0 20px 40px 0;
    }
    .information-holder {
        width: 100%;
    }
    .contact-title h2,
    .contact-info h2 {
        text-align: left;
        padding-bottom: 20px;
    }
    .subscribe .container {
        width: 90vw;
    }
    .outer-holder-subscribe .subscribe-data-container h2 {
        font-size: 1.5rem;
    }
    .subscribe-data input {
        width: 80%;
        margin-bottom: 30px;
    }
    .footer-icons {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .footer-about-us {
        width: 100%;
    }
    .footer .follow-us {
        width: 100%;
        text-align: center;
    }
    .icon-container {
        display: inline-flex;
        width: 100%;
        padding-top: 20px;
        justify-content: center;
    }
    .testimonials p {
        padding: 10px 0;
        line-height: 1.5;
        text-align: center;
        color: #888888;
    }
}

@media only screen and (min-width:450px) and (max-width:600px) {
    .destination-cards-container {
        grid-template-columns: repeat(auto-fill, minmax( 20rem, 1fr));
    }
    .destination-images-container {
        grid-template-columns: repeat(auto-fill, minmax( 20rem, 1fr));
    }
    .price-card {
        max-width: 300px;
        margin: 0 auto;
    }
    .subscribe-data input {
        width: 60%;
        margin-bottom: 30px;
    }
    .subscribe-data input[type="email"] {
        margin: 0;
    }
}


/*
*
*   Small devices (portrait tablets and large phones, 600px and up)
* 
*/

@media only screen and (min-width: 600px) {
    .bar-container {
        display: flex;
        height: inherit;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
    }
    .header .navbar .list-container .navbar-list {
        height: auto;
        visibility: hidden;
        width: 100%;
        display: block;
        position: fixed;
        left: 0;
        top: 80px;
    }
    .responsive .navbar-ul {
        display: block;
        visibility: visible;
        top: 80px;
        height: auto;
        box-shadow: 2px 25px 50px rgba(68, 68, 68, 0.8);
        /* background-color: #5D5252; */
        background-color: #333333;
        left: 0;
    }
    .header .navbar .list-container ul {
        padding: 0;
    }
    .header .navbar .list-container ul li {
        display: block;
        padding: 0;
    }
    .header .navbar .list-container ul li a:hover {
        color: white;
        text-decoration: underline;
        background-color: rgba(169, 169, 169, 0.234);
    }
    .header .navbar .list-container {
        width: 0;
    }
    .header .navbar .list-container ul li a {
        text-align: center;
        display: block;
    }
    .outer-holder {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    }
    .contact-form-holder,
    .information-holder {
        float: unset;
        width: 100%;
    }
    .contact-title h2,
    .contact-info h2 {
        text-align: left;
        padding-bottom: 20px;
    }
    .footer-icons {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .footer-about-us {
        width: 60%;
        float: left;
    }
    .footer .follow-us {
        width: 100%;
        text-align: center;
    }
    .icon-container {
        display: inline-flex;
        width: 100%;
        padding-top: 20px;
        justify-content: center;
    }
    .footer-about-us {
        width: 100%;
    }
    .subscribe-data input {
        width: 45%;
        margin-bottom: unset;
    }
    .subscribe-data input[type="email"] {
        margin: 0;
    }
    .testimonials p {
        padding: 10px 0;
        line-height: 1.5;
        text-align: center;
        color: #888888;
    }
}


/*
*
*   Medium devices (landscape tablets, 768px and up) The navbar toggle appears at this breakpoint
* 
*/

@media only screen and (min-width: 768px) {
    .bar-container {
        display: none;
    }
    .header .navbar .list-container {
        display: block;
        width: 60%;
    }
    .header .navbar .list-container .navbar-list {
        height: inherit;
        display: flex;
        top: unset;
        width: auto;
        position: initial;
        float: right;
        margin-right: 5%;
        align-items: center;
        visibility: visible;
        display: flex;
        left: initial;
    }
    .responsive .navbar-ul {
        background-color: unset;
        box-shadow: none;
    }
    .header .navbar .list-container ul {
        padding: 10px 0;
    }
    .header .navbar .list-container ul li {
        display: inline;
        padding: 20px 0;
    }
    .header .navbar .list-container ul li a {
        display: initial;
        font-size: 16px;
    }
    .header .navbar .list-container ul li a:hover {
        background-color: unset
    }
    .information-list ul li {
        padding: 0 20px 40px 0;
    }
}


/*
*
*    the side navbar till here 
*
*/

@media only screen and (min-width: 850px) {
    .header .navbar .list-container .navbar-list {
        margin-right: 10%;
    }
    .header .navbar .list-container ul li a {
        font-size: 18px;
    }
    .contact-form-holder,
    .information-holder {
        float: left;
        width: 50%;
    }
    .information-holder {
        display: flex;
        padding: 0 50px 50px;
        justify-content: center;
    }
    .contact-title h2,
    .contact-info h2 {
        text-align: center;
        padding-bottom: 30px;
    }
    .information-list ul li {
        padding: 0 20px 40px 20px;
    }
    .footer-icons {
        display: inline-flex;
        width: 40%;
        line-height: 2;
    }
    .footer-about-us {
        width: 60%;
        float: left;
    }
    .follow-us h2 {
        line-height: 2;
        padding-left: 20px;
        text-align: left;
    }
    .footer-about-us-holder p {
        width: 80%;
    }
}


/*
*
*   Large devices (laptops/desktops, 992px and up)
* 
*/

@media only screen and (min-width: 992px) {
    .outer-holder {
        margin: 0 auto;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    }
    .footer .follow-us {
        width: unset;
        text-align: center;
    }
    .price-card {
        margin: unset;
    }
}


/*
*
*   tablet size ends here
* 
*/

@media screen and (max-width: 1024px) {
    .hero-section .hero-image-holder {
        background-size: auto !important;
        -webkit-background-size: auto !important;
        -moz-background-size: auto !important;
        -o-background-size: auto !important;
        background-attachment: local !important;
        -webkit-background-attachment: local !important;
        -moz-background-attachment: local !important;
        -o-background-attachment: local !important;
    }
    .hero-image-text {
        bottom: 0;
    }
}


/*
*
*   Extra large devices (large laptops and desktops, 1200px and up)
* 
*/

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    .price-card-container {
        margin: 0 auto;
        width: 85%;
    }
    .outer-holder {
        margin: 0 auto;
        width: 90%;
        grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    }
    .destination-cards-container {
        width: 90%;
        margin: 0 auto;
    }
    .destination-images-container {
        width: 90%;
        margin: 0 auto;
    }
    .testimonials {
        padding: 20px 0;
        width: 32%;
        display: inline-block;
        margin: 5px;
    }
    .testimonials p {
        padding: 15px 0;
    }
    .subscribe .hero-image-subscribe {
        background-attachment: fixed;
    }
    .testimonial-title-holder {
        background-attachment: fixed;
    }
}